.mainWrapper {
    width: 100%;
    height: 100%;
}

.header {
    border-color: #cccccc;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
    margin-left: auto;
    margin-right: auto;

}

.name {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    padding: 16px;
}

#horizontal-list {
    text-align: right;
    float: right;
    margin-top: 45px;

}

ul#horizontal-list li {
    display: inline;
    padding: 5px;
    font-size: 12px;
}

.main-bio-container {
    border-color: #dddddd;
    background-color: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-image: url("../../prism.png");
    padding-top: 30px;
}

#main-bio {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: solid lightgray 1px;
    padding: 0 40px 0 40px;
    background-color: #ffffff;
}

.textWrapRight {
    float: left;
    clear: right;
    margin-right: 15px;
    margin-top: 10px;
}

p {
    font-size: 14px;
    line-height: 2;
    margin-left: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.textWrap {}

h2 {
    color: #4aaaa5
}

hr {
    background-color: lightgray;
}

footer {
    width: 100%;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
}